/*!
 * Author Stefanus Prasetyo Nugroho
 * stefanusnugroho585@gmail.com
 * CopyRight 2017
 * Tool : https://cssminifier.com/
*/

.container,
.newsletter-box {
    overflow: hidden
}

#gambar,
.footer,
a.popup-link {
    position: relative
}

#popup1:target,
#popup:target {
    visibility: visible;
    left: 0;
    bottom: 0;
    z-index: 99999999999
}

* {
    margin: 0;
    padding: 0;
    
}

#gambar {
    background-color: #0d243c;
    background-image: url("http://2.bp.blogspot.com/-SVIBwpPqfsQ/UYiRxr9QNtI/AAAAAAAAOqk/jrUB6avufeM/s1600/Space+Wallpapers+1920x1080++7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    background-attachment: fixed;
    height: 720px;
    color: #fff;
    transition: 1.5s linear;
    -moz-transition: 1.5s linear;
    -webkit-transition: 1.5s linear
}

.myname {
    color: #fff;
    text-align: center;
    padding-top: 100px;
    font-family: 'Baloo Thambi';
    font-size: 60px;
    font-weight: 700
}

.myname img {
    transition: 2s
}

.myname img:hover {
    opacity: .5;
    transition: 2s;
    transform: scale(1.2)
}

.motto-myname {
    font-family: Montserrat;
    font-size: 40px;
    margin-top: 15px
}
.navbar-inverse {
    background-color: #3b5998;
    font-size:18px;
    font-family: "Baloo Thambi";
    }
#about,
.container,
.footer-bottom,
.karya {
    font-family: sans-serif
}

#fotogoyang {
    animation-name: ngambang;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out opacity: .5;
    filter: opacity(.5)
}

#fotogoyang:hover {
    opacity: 1;
    filter: opacity(1);
    cursor: pointer;
    border-radius: 50%
}

@keyframes ngambang {
    0%,
    to {
        transform: translate(0)
    }
    65% {
        transform: translateY(100px)
    }
}

.tombol {
    margin-top: 4%
}

.button,
.label {
    display: inline-block
}

.button {
    border-radius: 5px;
    padding: .5rem;
    border: 2px solid #333;
    transition: all .3s ease-in
}

.button.is-white,
.button.is-white2 {
    border-color: #fff;
    color: #fff;
    height: 60px;
    text-decoration: none;
    text-align: center
}

.button.is-large {
    font-size: 25px;
    padding: 1rem
}

.button.is-white {
    margin-left: 35.5%;
    margin-right: 5px;
    width: 180px
}

.button.is-white2 {
    width: 190px
}

.button.is-white:hover {
    background: #fff;
    color: #333
}

.button.is-white2:hover {
    background-color: #fff;
    color: #333
}


 hr{
    width: 250px;
    border-top:4px solid #999;
    
}
#panel,
input[type=submit] {
    padding: 2px;
    margin-left: 5%;
    text-align: center;
    background-color: #e5eecc;
    border: 1px solid #c3c3c3;
    width: 100%;
    border-radius: 5px
}

#panel {
    padding: 5px;
    display: none;
    text-align: left
}

.aboutimg {
    margin-left: -30%;
    margin-top: 2%;
    height: 200px;
    border-radius: 50%;
    opacity: 1;
    border: 10px solid grey;
    float: left
}

.aboutimg:hover {
    opacity: .7;
    filter: alpha(opacity=40);
    cursor: pointer
}

#about {
    background-color: #0d243c;
    width: 100%;
    height: 300px;
    padding: 2% 20% 2% 25%;
    font-size: 14px;
    color: #fff
}

.karya {
    margin-top: 1%;
    background-color: #add8e6;
    width: 100%;
    height: 200px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-size: 20px
}

input[type='text'],input[type='email'], textarea{
  width: 47.5%;
  border: 2px solid black;
  background: transparent;
  text-transform: uppercase;
}

input[type='text']:focus, input[type='email']:focus {
    padding: 15px;
    transition: all .3s linear 0ms;
    outline: none;
}
input[placeholder='Nama Lengkap'],
input[placeholder='Email'],
input[placeholder='Subject'] {
    text-transform: capitalize;
}
#stef-kontak{
    background-color:#f1f1f1;
    font-family: 'Roboto', sans-serif;
}

#stef-kontak .well{
    margin-top:30px;
    border-radius:0;
}

#stef-kontak .form-control{
    border-radius: 0;
    border:2px solid #1e1e1e;
}

#stef-kontak button{
    border-radius:0;
    border:2px solid #1e1e1e;
}

#stef-kontak .row{
    margin-bottom:30px;
}

@media (max-width: 768px) { 
    #stef-kontak iframe {
        margin-bottom: 15px;
    }
    
}
 #map {
        height: 400px;
        width: 50%;
       }
.stef-karya{
    background-color: #eee;
    min-height: 500px;

}
.stefanus{
    border-top: 120px solid #ec3504;border-bottom: 140px solid #20a3bf;border-left: 70px solid transparent;border-right: 70px solid transparent;
}
.stef-education{
    background-color: #0d243c;
    
}
.col-md-4 {
    border-radius: 50%
}

#myProgressHTML {
  width: 100%;
  background-color: #ddd;
}

#myBarHTML {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myProgressPHP {
  width: 100%;
  background-color: #ddd;
}

#myBarPHP {
  width: 10%;
  height: 30px;
  background-color: yellow;
  text-align: center;
  line-height: 30px;
  color: black;

}

#myProgressCSS {
  width: 100%;
  background-color: #ddd;
}

#myBarCSS {
  width: 10%;
  height: 30px;
  background-color: lightblue;
  text-align: center;
  line-height: 30px;
  color: black;

}

#myProgressJS {
  width: 100%;
  background-color: #ddd;
}

#myBarJS {
  width: 10%;
  height: 30px;
  background-color: red;
  text-align: center;
  line-height: 30px;
  color: white;

}

#myProgressJAVA {
  width: 100%;
  background-color: #ddd;
}

#myBarJAVA {
  width: 10%;
  height: 30px;
  background-color: lightgreen;
  text-align: center;
  line-height: 30px;
  color: black;

}
#myProgressVBNET {
  width: 100%;
  background-color: #ddd;
}

#myBarVBNET {
  width: 10%;
  height: 30px;
  background-color: orange;
  text-align: center;
  line-height: 30px;
  color: black;

}

#myProgressPHOTOSHOP {
  width: 100%;
  background-color: #ddd;
}

#myBarPHOTOSHOP {
  width: 10%;
  height: 30px;
  background-color: red;
  text-align: center;
  line-height: 30px;
  color: white;

}

.footer {
    background: #0d243c;
    height: auto;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #DDD
}
/* Bagian Hp */
.hp1 {
    background-color:#262626;
    width: 20% ;
    height: 527px;
    margin-left: 22.7%;
    margin-top: 9.5%;
    border-radius: 25px;
    box-shadow: -2px 1px 1px 1px black;
    border: 3px solid #262626;
    float: left;
    
}
.hp2 {
    float: left;
    border: 5px solid #F6F8FA;
    box-shadow: 1px 5px 5px 10px grey;
    width: 45%;
    height: 526px;
    margin-top: 10%;
    margin-left: -13.5%;
    border-radius: 30px;
    background-color: #F6F8FA;
    }
.kontenhp2  {
    border: 2px solid #111;
    margin-left: 4%;
    width: 90%;
    height: 410px;
}
.kontenhp2 div {
    display: none;
}
.kontenhp2 img {
    margin: 5px;
    margin-left: 3px;  
    width: 95%;
    height: 405px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}
.kontenhp2 img:hover {
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
    cursor: pointer;
}
.imgheader1{
    width: 50px;
    height: 20px;
    margin-top: 10px;
    margin-left: 4%;
    border-radius: 50%;
}
.imgheader2{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25%;
}

.imgfooter{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 25%;
}
/*Akhir Bagian Hp */
.footer p {
    margin: 0
}

.footer img {
    max-width: 100%
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D
}

.footer ul li a {
    padding: 0 0 5px;
    display: block
}

.footer a {
    color: #78828D
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0!important;
    padding-bottom: 0
}

.newsletter-box input#appendedInputButton {
    background: #FFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%
}

.newsletter-box .btn {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBB 0, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3
}

.social li {
    background: #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}

section{
    min-height: 600px;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    border: 2px solid #2c3e50;
    background: #2c3e50
}

.social li a {
    color: #EDEFF1
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1!important
}

.footer-bottom {
    background: #0d243c;
    border-top: 1px solid #DDD;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px
}

.footer-bottom p.pull-left {
    padding-top: 6px
}

.payments {
    font-size: 1.5em
}


@media only screen and (max-width: 1280px) {
/* Bagian Hp */
.hp1 {
    background-color:#262626;
    width: 30% ;
    height: 527px;
    margin-left: 15%;
    margin-top: 9.5%;
    border-radius: 25px;
    box-shadow: -2px 1px 1px 1px black;
    border: 3px solid #262626;
    float: left;
    
}
.hp2 {
    float: left;
    border: 4px solid grey;
    box-shadow: 1px 5px 5px 2px #F9F9F9;
    width: 50%;
    height: 526px;
    margin-top: 10%;
    margin-left: -13.5%;
    border-radius: 30px;
    background-color: white;
    }
.kontenhp2  {
    border: 2px solid #111;
    margin-left: 3%;
    width: 93%;
    height: 410px;
}
.imgheader1{
    width: 50px;
    height: 20px;
    margin-top: 10px;
    margin-left: 4%;
    border-radius: 50%;
}
.imgheader2{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25%;
}

.imgfooter{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 25%;
}
/*Akhir Bagian Hp */
}

@media only screen and (-moz-max-width: 1280px) {
/* Bagian Hp */
.hp1 {
    background-color:#262626;
    width: 20% ;
    height: 527px;
    margin-left: 15%;
    margin-top: 9.5%;
    border-radius: 25px;
    box-shadow: -2px 1px 1px 1px black;
    border: 3px solid #262626;
    float: left;
    
}
.hp2 {
    float: left;
    border: 4px solid grey;
    box-shadow: 1px 5px 5px 2px #F9F9F9;
    width: 25%;
    height: 526px;
    margin-top: 10%;
    margin-left: -13.5%;
    border-radius: 30px;
    background-color: white;
    }
.kontenhp2  {
    border: 2px solid #111;
    margin-left: 3%;
    width: 93%;
    height: 410px;
}
.imgheader1{
    width: 50px;
    height: 20px;
    margin-top: 10px;
    margin-left: 4%;
    border-radius: 50%;
}
.imgheader2{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25%;
}

.imgfooter{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 25%;
}
/*Akhir Bagian Hp */
}



/* default tablet layout */
@media only screen and (max-width:1024px) {
body {
    background-color: white;
    overflow-y: scroll;
}   
   .hp1 {
    background-color:#262626;
    width: 30% ;
    height: 527px;
    margin-left: 15%;
    margin-top: 9.5%;
    border-radius: 25px;
    box-shadow: -2px 1px 1px 1px black;
    border: 3px solid #262626;
    float: left;
    
}
.hp2 {
    float: left;
    border: 4px solid grey;
    box-shadow: 1px 5px 5px 2px #F9F9F9;
    width: 50%;
    height: 526px;
    margin-top: 10%;
    margin-left: -13.5%;
    border-radius: 30px;
    background-color: white;
    }
.kontenhp2  {
    border: 2px solid #111;
    margin-left: 3%;
    width: 93%;
    height: 410px;
}
.imgheader1{
    width: 50px;
    height: 20px;
    margin-top: 10px;
    margin-left: 4%;
    border-radius: 50%;
}
.imgheader2{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25%;
}

.imgfooter{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 25%;
}
}

@media only screen and (max-width: 768px) {
body {
    background-color: white;
    overflow-y: scroll;
}   
    /* Bagian Hp */
.hp1,
.hp2,
.kontenhp2,
.imgheader1,
.imgheader2,
#slideshow,
.imgfooter
 {
    display: none;
}

}
